<div class="login-container">
    <div class="login-form">
      <h2 class="login-title">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email : </label>
          <input id="email" type="email" formControlName="email" placeholder="Enter your email" />
          <div *ngIf="submitted && loginForm.controls['email'].errors" class="error-message">
            <small *ngIf="loginForm.controls['email'].errors['required']">*Email is required.</small>
            <small *ngIf="loginForm.controls['email'].errors['email']">*Invalid email format.</small>
          </div>
        </div>
  
        <div class="submit-container">
          <button type="submit" id="button" (click)="onSubmit()">Submit</button>
        </div>
      </form>
      <!-- Cancel text at bottom-right of the form -->
      <div class="cancel-text">
        <span (click)="goToLoginpage()">Cancel</span>
      </div>
    </div>
  </div>
  